html, body {
    height: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;

    font-family: 'Inter', sans-serif;
    font-style: normal;
}


#navigation {
    position: fixed;
    z-index: 1;
    
    width: 100vw;
    height: 70px;
    
    display: flex;
    justify-content: space-between;
}

#navigation #logo {
    width: 70px;
    height: 70px;
}

#navigation #sections {
    height: 100%;
    
    padding: 0;
    margin: 0 20px;
    
    display: flex;
    
    list-style-type: none;
    
    color: white;
    font-weight: 500;
}

#navigation #sections li {
    margin: auto 20px auto 0;
    user-select: none;
    text-shadow: 0 0 2px black;
}
#navigation #sections li:hover {
    cursor: pointer;
}


#navigation #sections li:first-child {
    margin-left: 20px;
}
#navigation #sections li:last-child {
    margin-right: 20px;
}
#navigation #sections li + li::before {
    content: '';
    margin: auto 20px auto 0;
    border-left: 1px solid white;
}


.navigation-button {
    position: fixed;
    z-index: 1;
    top: calc(50% - 50px);
    
    width: 50px;
    height: 100px;
}

#next-page {
    right: 20px;
}

#prev-page {
    left: 20px;
}

#banner {
    width: 100vw;
    height: 100vh;

    background-image: url('images/DSC_2897.jpg');
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
    color: white;
    font-size: 40px;
    letter-spacing: 9px;
    text-shadow: 0 0 2px black;

    text-align: center;
}

#banner h1 {
    font-size: inherit;
    font-weight: 500;
    font-style: inherit;
    letter-spacing: inherit;
    text-transform: uppercase;
}

#banner h2 {
    font-size: inherit;
    font-weight: 200;
    font-style: inherit;
    letter-spacing: inherit;
}

#banner img {
    width: 100%;
    min-height: 100%;
}


#part1{
    width: 100vw;
    height: 100vh;
    
    background-color: blue;
}

#part2{
    width: 100vw;
    height: 100vh;

    background-color: red;
}



/* TEMP */
#navigation {
    /*background-color: rgba(255, 0, 0, 0.5);*/
}
.navigation-button {
    background-color: green;
}
#navigation #logo {
    background-color: green;
}
#navigation.scrolled {
    background-color: green;
}
